@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;

  background-color: #f8fafc;
  color: #0f172a;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dark body {
  background-color: #0f172a;
  color: #f8fafc;
}

* {
  box-sizing: border-box;
}